<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelualueet</title>
        <meta charset="utf-8" />
    </head>

    <body>
                <h1>Keskustelualueet</h1>
                <p>Takaisin <a href="" th:href="@{~/home}">aluevalintalistaukseen</a></p>
        <ol>
            <li th:each="discussionTopic: ${discussionTopics}">
                <p><span th:text="${discussionTopic.header}"></span> <a th:href="${'/oneDiscussionTopic?discussionTopicId=' + discussionTopic.id}">mene keskustelualueelle</a></p>
            </li>
        </ol>
     </body>
</html>