<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Viesti</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <p>Takaisin keskusteluun <a href="" th:href="@{~/{header}/(header=${header})}" th:text="${header}">Alue</a></p>
        
        <h1>Viesti</h1>
        <table>
         <tr>
            <td th:text="${writer}">kirjoittaja</td>        
            <td th:text="${content}">sisältö</td>
        <!--<td th:text="${#dates.format(latest, 'yyyy-MM-dd hh:mm:ss')}">YY</td>-->
         </tr>
        </table>
    </body>
</html>