<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Käyttäjä</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Käyttäjä</h1>
        <table>
         <tr>
            <td th:text="${user.user_Name}">kirjoittaja</td>        
            <td th:text="${user.password}">salasana</td>
         </tr>
        </table>
    
    <p>Takaisin aluevalintalistaukseen: <a th:href="@{~/home}">aluevalinta</a></p>
    </body>
</html>
